// COLORS
$c-primary: #55c57a;
$c-primary-light: #7ed56f;
$c-primary-dark: #28b485;

$c-secondary-light: #ffb900;
$c-secondary-dark: #ff7730;

$c-tertiary-light: #2998ff;
$c-tertiary-dark: #5643fa;

$c-grey-light-1: #f7f7f7;
$c-grey-light-2: #eee;

$c-grey-dark: #777;
$c-grey-dark-2: #999;
$c-grey-dark-3: #333;

$c-white: #fff;
$c-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
