// styles for index.html page
#about {
  background-color: $c-grey-light-1;
  padding: 20rem 0;
  margin-top: -10vh;
}

#features {
  transform: skewY(-7deg);
  padding: 10rem 0;
  margin-top: -10vh;
  background-color: $c-primary;
  backface-visibility: hidden;
  background-image: linear-gradient(
      to right bottom,
      rgba($c-primary-light, 0.8),
      rgba($c-primary-dark, 0.8)
    ),
    url('../static/nat-4.jpg');
  background-size: cover;

  & > * {
    transform: skewY(7deg);
  }
}

#tours {
  background-color: $c-grey-light-1;
  padding: 20rem 0 10rem 0;
  margin-top: -10vh;
}

#stories {
  background-color: $c-white;
  padding: 20rem 0 10rem 0;
}
