// styles for index.html page
#about {
  background-color: $c-grey-light-1;
  padding: 20rem 0;
  margin-top: -10vh;
}

#features {
  transform: skewY(-7deg);
  padding: 10rem 0;
  margin-top: -10vh;
  background-color: $c-primary;
  backface-visibility: hidden;
  background-image: linear-gradient(
      to right bottom,
      rgba($c-primary-light, 0.8),
      rgba($c-primary-dark, 0.8)
    ),
    url('../static/nat-4-1x.jpg');
  background-size: cover;

  & > * {
    transform: skewY(7deg);
  }

  @include bg2x {
    background-image: linear-gradient(
        to right bottom,
        rgba($c-primary-light, 0.8),
        rgba($c-primary-dark, 0.8)
      ),
      url('../static/nat-4-2x.jpg');
  }
}

#tours {
  background-color: $c-grey-light-1;
  padding: 20rem 0 10rem 0;
  margin-top: -10vh;

  .col-1-of-3 {
    perspective: 150rem;
  }
}

#stories {
  position: relative;
  padding: 20rem 0 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($c-white, 0.8),
      rgba($c-white, 0.9)
    ),
    url('../static/bg-video-1x.jpg');
  background-size: cover;

  @include respond(tab-port) {
    background: none;
  }
}

#book {
  perspective: 150rem;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    $c-primary-light,
    $c-primary-dark
  );
  padding: 10rem 0;

  @include respond(tab-land) {
    padding: 15rem 0;
  }
}

.book {
  position: relative;
  transform-origin: top center;
  background-image: linear-gradient(
      to right,
      rgba($c-white, 0.9) 0%,
      rgba($c-white, 0.9) 100%
    ),
    url('../static/nat-10-1x.jpg');

  background-size: cover;
  border-radius: 3px;

  &__form {
    padding: 6rem;
  }

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($c-white, 0.9) 0%,
        rgba($c-white, 0.9) 65%,
        transparent 65%
      ),
      url('../static/nat-10-2x.jpg');
  }

  @include respond(desctop) {
    background-image: linear-gradient(
        105deg,
        rgba($c-white, 0.9) 0%,
        rgba($c-white, 0.9) 50%,
        transparent 50%
      ),
      url('../static/nat-10-2x.jpg');
  }

  &__form {
    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(desctop) {
      width: 50%;
    }
  }
}
