- const {navigation: {items}} = require('../data/home.json');

div.navigation
    button.navigation__btn(aria-label="navigation button" autofocus) 
        span.navigation__icon(aria-hidden="true") &nbsp;
    nav.navigation__nav
        ul.navigation__list
            each item in items
                - const {url, label} = item
                li.navigation__item
                    a.navigation__link(href= url)= label
