.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    cursor: pointer;
    font-size: $default-font-size;
    text-transform: uppercase;
    transition: all 0.2s $easeInOutBack;
    border: none;
    cursor: pointer;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover, 
  &:focus {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($c-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($c-black, 0.2);
  }

  &--white {
    background: $c-white;
    color: $c-grey-dark;
    &::after {
      background-color: $c-white;
    }
  }

  &--green {
    background-color: $c-primary;
    color: $c-white;

    &::after {
      background-color: $c-primary;
    }
  }
}

.btn-text {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    color: $c-primary;
    border-bottom: 1px solid $c-primary;
    padding: 3px;
    transition: all 0.2s;
  }
  &::after {
    content: '\2192';
    transition: all 0.2s;
    margin-left: 0.5rem;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $c-white;
    border-bottom: 1px solid $c-primary-dark;
    background-color: $c-primary-dark;
    box-shadow: 0 1rem 2rem rgba($c-black, .15);
    transform: translateY(-2px);
    &::after {
      margin-left: 1rem;
    }
  }
}
