.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    cursor: pointer;
    font-size: $default-font-size;
    text-transform: uppercase;
    transition: all 0.2s $easeInOutBack;
    border: none;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($c-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($c-black, 0.2);
  }

  &--white {
    background: $c-white;
    color: $c-grey-dark;
    &::after {
        background-color: $c-white;
    }
  }

  &--green {
    background-color: $c-primary;
    color: $c-white;

    &::after {
      background-color: $c-primary;
    }
  }
}

.btn-text {
    &,
    &:link,
    &:visited {
        display: inline-block;
        font-size: 1.6rem;
        text-decoration: none;
        color: $c-primary;
        border-bottom: 1px solid $c-primary;
        padding: 3px;
        transition: all .2s;
    }
    &::after {
        content: '\2192';
        transition: all .2s;
        margin-left: .5rem;
    }

    &:hover,
    &:focus {
        outline: none;
        color: $c-primary-dark;
        border-bottom: 1px solid $c-primary-dark;
        &::after {
            margin-left: 1rem;
        }
    }
    &:focus {
        background-color: $c-grey-dark;
    }

}
