.composition {
  position: relative;

  &__photo {
    position: relative;
    float: left;
    width: 33.33333333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    border-radius: 2px;
    outline-offset: 1.5rem;

    &:hover {
      outline: 0.5rem solid $c-primary;
      transform: scale(1.05);
    }

    &--p1 {
      transform: scale(0.8);
      @include respond(tab-land) {
        transform: scale(1.2);
      }
    }
    &--p2 {
      top: -1rem;
      transform: scale(1.3);
      z-index: 20;
    }
    &--p3 {
      top: 1rem;
      transform: scale(0.8);
      @include respond(tab-land) {
        transform: scale(1.2);
      }
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
