.story {
  background-color: rgba($c-white, 0.9);
  font-size: 1.6rem;
  border-radius: 3px;
  padding: 2rem;
  padding-left: 5rem;

  @include respond(tab-port) {
    max-width: 80%;
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-12deg);
  }

  @include respond(desctop) {
    max-width: 60%;
  }

  &__shape {
    position: relative;
    float: left;
    width: 15rem;
    height: 15rem;
    transform: translateX(-3rem) skewX(0);
    overflow: hidden;
    border-radius: 50%;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      clip-path: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(tab-port) {
      transform: translateX(-3rem) skewX(12deg);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    @include respond(tab-port) {
      transform: translateX(0) skewX(12deg);
    }
  }

  &__caption {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $c-white;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
