.navigation {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  ///////////////////////////////////////
  // BACKGROUND
  &::before {
    content: '';
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-image: radial-gradient($c-primary-light, $c-primary-dark);
    transition: transform 0.8s $lineEasOut;
  }

  &--active::before {
    transform: scale(80);
  }

  ///////////////////////////////////////
  // BUTTON
  &__btn {
    outline: none;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border: none;
    background: $c-white;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    z-index: 200;
    text-align: center;
    display: inline-block;
    &:focus {
      animation: pulsate 1s infinite;
    }
  }

  ///////////////////////////////////////
  // ICON BUTTON
  &__icon {
    position: relative;
    margin-top: 1.6rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $c-grey-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s $easeInOutBack;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  // BUTTON ACTIVE STATE
  &--active &__icon {
    background-color: transparent;
  }

  &--active &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &--active &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  // NAV LINK CONTAINER
  &__nav {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    opacity: 0;
    width: 0;
    transition: all 0.8s $lineEasOut;
  }

  ///////////////////////////////////////
  // NAV ACTIVE STATE
  &--active &__nav {
    visibility: visible;
    opacity: 1;
    width: 100%;
  }

  ///////////////////////////////////////
  // NAV LIST
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    transition: all 0.8s $lineEasOut;
  }

  ///////////////////////////////////////
  // NAV LIST ACTIVE STATE
  &--active &__list {
    opacity: 1;
  }

  &__item {
  }
  &__link {
    &:link,
    &:visited {
      padding: 1rem 2rem;
      transition: all 0.4s $lineEasOut;
      background-size: 230%;
      display: inline-block;
      font-size: 3rem;
      text-decoration: none;
      color: $c-white;
      font-weight: 200;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $c-white 50%
      );
    }

    &:hover,
    &:focus {
      outline: none;
      color: $c-primary-dark;
      background-position: 100%;
      transform: translateX(1rem);
    }
  }
}
